@model ISO710_BOOKS.Models.Prestamo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Préstamo</h1>
<h4>¿Estás seguro de que quieres eliminar esto?</h4>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miembro.Correo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PrestamoId" />
        <button class="btn btn-danger" type="submit">
            <i class="fa-solid fa-trash"></i>
            Eliminar
        </button>
        |
        <button class="btn btn-secondary" title="Volver">
            <a class="text-white text-decoration-none" asp-action="Index">
                <i class="fa-solid fa-chevron-left"></i>
                Volver
            </a>
        </button>
    </form>
</div>
