@model IEnumerable<ISO710_BOOKS.Models.Miembro>

@{
    ViewData["Title"] = "Miembros";
}

<h1>
    @ViewData["Title"]
</h1>

<p>
    <button type="button" class="btn btn-success">
        <a asp-action="Create" class="text-white text-decoration-none">
            Nuevo <i class="fa-solid fa-plus"></i>
        </a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" title="Editar">
                        <a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.MiembroId">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </button>
                    |
                    <button class="btn btn-sm btn-info" title="Detalles">
                        <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.MiembroId">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </button>
                    |
                    <button class="btn btn-sm btn-danger" title="Eliminar">
                        <a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.MiembroId">
                            <i class="fa-solid fa-delete-left"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
