@model List<ISO710_BOOKS.Models.LibroModel>

@{
    ViewData["Title"] = "Libros Disponibles";
}

<div class="text-center">
    <h1 class="display-4">Libros Disponibles</h1>
    <hr />
    <div class="row mt-2">
        @foreach (var libro in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                <div class="card h-100 w-100 cursor-pointer">
                    <div class="text-center p-3">
                        <!-- Se ajusta el tamaño del thumbnail para ser más pequeño -->
                        <img src="@libro.PortadaUrl" class="card-img-top img-fluid border border-1 border-dark" alt="Portada de @libro.Titulo"
                             style="object-fit: contain; height: 120px; width: auto;" />
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@libro.Titulo</h5>
                        <p class="card-text"><strong>Autor:</strong> @libro.Autor</p>
                        <p class="card-text"><strong>Año:</strong> @libro.AñoPublicacion</p>


                        <!-- Botón "Ver Detalles" que lleva a la creación del préstamo -->
                        <a asp-controller="Prestamos" asp-action="Create"
                           asp-route-id="@libro.Id" class="btn btn-primary mt-auto">
                            Tomar Prestado
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
